* {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.hero-section {
  height: 100vh;
  background-image: url('/hero-background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  
}

header {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.netflix-logo {
  width: 187px;
  margin-left: 128px;
}

.login-container {
  margin-right: 165px;
  display: flex;
  gap: 9px;
}

.login-container>* {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;

}

.btn-netflix {
  background-color: #e50914;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-netflix:hover {
  background-color: rgb(200, 3, 13);
}

.language-select-wrapper {
  position: relative;
  display: inline-block;
}

.lang {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #666;
  font-family: sans-serif;
  color: white;
  padding: 6px 32px 6px 32px;
  border-radius: 2px;
  font-size: 16px !important;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
}

option {
  background-color: #fff;
  color: #000;
}

.center {
  text-align: center;
}

.title {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 20px;
}

.pricing {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 35px 0;
}

.email {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 16px !important;
  padding: 20px 15px;
  width: 350px;
  height: 15px;
  margin-right: 10px;
}

.email-submit {
  padding: 12px 30px;
  font-size: 25px;
  font-weight: 600;
}